# Node
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build output
dist
build

# Tests
coverage
.cypress
.playwright

# Vite / cache
.vite
.cache

# Env
.env
.env.*

# Git
.git
.gitignore

# OS
.DS_Store
