# --- System ---
.DS_Store
Thumbs.db

# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log

# --- Node / Svelte ---
node_modules/
dist/
.npm/
.output/

# --- IDE ---
.vscode/
.idea/
